#Configuration info
[Project Info]
    Project = 22872

###SensorPowerUpInAdvance begin
[SensorPowerUpInAdvance]
    IsPowerUpinAdvance   = TRUE
    IsPowerDowninAdvance = FALSE

[AecSettings]
    isUseAecMulan   = TRUE

[PropertyPackageName]
    AppPackageNameTag = oplus.camera.packname

[ThirdAppSensorPowerUpInAdvance]
    #PackName                #PackName_name
    PackName[0]        =     com.tencent.mm

###SensorPowerUpInAdvance end

[ThirdAppOrientationCalibrationList]
     #PackName                #PackName_name
    PackName[0]        =     com.yandex.browser

[PorbeSensorIdListMap]
    s5khm6_rear = 0xA301;
    ov02b1b= 0x002B;
    ov02b10_macro= 0x002B;
    s5k3p9= 0x3109;

[OPPackageName Group]
    SystemCamera    = com.oppo.camera; com.oplus.camera
    EngineerCamera  = com.oppo.engineermode; com.oppo.engineermode.camera; com.oplus.engineermode; com.oplus.engineercamera

[OemGsiCamxSettings]
    disableVTSPartialMetadata = TRUE

[ForceOffAvoidGPUAppList]
    #PackName                #PackName_name
    PackName[0]        =     com.oppo.camera
    PackName[1]        =     com.oplus.camera
    PackName[2]        =     com.oppo.engineermode.camera
    PackName[3]        =     com.oplus.engineercamera
    PackName[4]        =     com.sina.weibo
    PackName[5]        =     com.tencent.now
    PackName[6]        =     com.eg.android.AlipayGphone
    PackName[7]        =     com.taobao.idlefish
    PackName[8]        =     com.intsig.camscanner
    PackName[9]        =     com.linecorp.foodcamcn.android
    PackName[10]       =     com.perfectcorp.youcammakeupcn
    PackName[11]       =     my.PCamera
    PackName[12]       =     com.by.butter.camera
    PackName[13]       =     com.yixia.videoeditor
    PackName[14]       =     jp.naver.linecamera.android
    PackName[15]       =     cn.poco.jane
    PackName[16]       =     com.tencent.mm
    PackName[17]       =     com.alibaba.android.rimet
    PackName[18]       =     com.tencent.mobileqq
    PackName[19]       =     com.whatsapp
    PackName[20]       =     com.flyingeffects.com
    PackName[21]       =     cn.soulapp.android
    PackName[22]       =     com.xhey.xcamera
    PackName[23]       =     com.ocs.cameraunit
    PackName[24]       =     com.kwai.videoeditor
    PackName[25]       =     jp.naver.line.android

[EnableSWMFAppList]
    #PackName                #PackName_name
    PackName[0]        =     com.gorgeous.lite
    PackName[1]        =     com.meitu.meiyancamera
    PackName[2]        =     com.lemon.faceu

[OP_SWMF]
    BlurlessAheadZSL = TRUE
    ExtraConsumerBuffers = 2

[OemCommonCapbility]
    isZslOutputBufferSameAsSensor = TRUE
    EnableCameraUXWithBgAudio     = FALSE
    isForceApplyHighSmomoInfo    = TRUE
    UseSauV2 = TRUE
    isNeedLightSensor             = TRUE
    useFbFrontAsEffect            = TRUE
    isSkipFrameInCurrProject      = FALSE
    isExtendBuffer                = TRUE
    isNeedWaitConfig              = TRUE
    isNeedSaveSensorInfo          = TRUE
    OptimizateRearColdStart       = TRUE
    OptimizateRearEnterVideoMode  = TRUE
    EnableDynamicMCTF             = TRUE
    enableResolutionSelectDecoule = TRUE
    SinglecamOverrideStaticCaps   = TRUE
    EnableProcessMCTFRetry        = FALSE
    selectOplusPipelineIn108MMode = TRUE
    WechatForceSelectNoFdPipeline = TRUE
    OplusSelectNoMctfPipeline     = TRUE
    isSkipEnqueueJob = TRUE
    isNeedJianyingWaitFlush       = TRUE
    skipCreateFlashForPortait     = TRUE
    disableDumpState              = TRUE
    enableNCSCloseAllSensors      = TRUE
    CloseSysHighPerfMode          = TRUE

[Cropsuperight]
                       #cameraId        isCropNight
    isneedcrop[0]  =        0;              0      # main
    isneedcrop[1]  =        1;              1      # front
    isneedcrop[2]  =        2;              0      # depth
    isneedcrop[3]  =        3;              0      # macro

[OemGsiCamxSettings]
    disablePartialMetadata = TRUE

[MultiCameraVirtualSuperGraph]
    #ChiFeature2Type     RealTimeMCX  FeatureMux  AnchorSync SWRemosaic Bayer2Yuv HDR  BOKEH MultiCameraReprocessRealtime RealtimePostProcessor
    #FeatureId           28           35          15         34         1         6    14    29                           32
    #Operation[0x8011]
    Common             =                                     34;                  6;

[VirtualSuperGraph]
    #ChiFeature2Type     RealTime RawHDR  Bayer2Yuv
    #FeatureId           0        10      1
    Camera[0]          =          10;
    Camera[1]          =          10;
    Camera[2]          =          10;
    Camera[3]          =          10;

[OemCameraTypeMap]
    #sensorname       CameraType
    s5khm6_rear    =    0
    s5k3p9         =    1
    ov02b1b        =    13
    ov02b10_macro  =    17

[PinFiles]
    so[0]=/system/lib64/android.hardware.camera.device@3.2.so;
    so[1]=/system/lib64/android.hardware.camera.device@3.5.so;
    so[2]=/vendor/lib64/camera.device@3.2-impl.so;
    so[3]=/vendor/lib64/camera.device@3.5-impl.so;
    so[4]=/vendor/lib64/hw/camera.qcom.so;
    so[5]=/vendor/lib64/hw/com.qti.chi.override.so;
    so[6]=/vendor/lib64/vendor.display.config@2.0.so;
    so[7]=/vendor/lib64/libcamxfdalgo.so;
    so[8]=/vendor/lib64/libcamxfdengine.so;
    so[9]=/vendor/lib64/camera/components/com.qti.node.swpdpc.so;
    so[10]=/vendor/lib64/camera/components/com.qti.node.swpreprocess.so;
    so[11]=/vendor/lib64/camera/components/com.qti.node.swregistration.so;
    so[12]=/vendor/lib64/camera/components/com.qti.stats.aec.so;
    so[13]=/vendor/lib64/camera/components/com.qti.node.stich.so;
    so[14]=/vendor/lib64/com.qti.stats.common.so;
    so[15]=/vendor/lib64/camera/components/com.qti.stats.aecwrapper.so;
    so[16]=/vendor/lib64/camera/components/com.qti.stats.aecxcore.so;
    so[17]=/vendor/lib64/camera/components/com.qti.stats.af.so;
    so[18]=/vendor/lib64/camera/components/com.qti.stats.afd.so;
    so[19]=/vendor/lib64/camera/components/com.qti.stats.afwrapper.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.asd.so;
    so[21]=/vendor/lib64/camera/components/com.qti.stats.awb.so;
    so[22]=/vendor/lib64/camera/components/com.qti.stats.awbwrapper.so;
    so[23]=/vendor/lib64/camera/components/com.qti.stats.cnndriver.so;
    so[24]=/vendor/lib64/camera/components/com.qti.stats.haf.so;
    so[25]=/vendor/lib64/camera/components/com.qti.stats.pdlibsony.so;
    so[26]=/vendor/lib64/camera/components/com.qti.stats.pdlibwrapper.so;
    so[27]=/vendor/lib64/camera/components/com.qti.stats.tracker.so;
    so[28]=/vendor/lib64/camera/components/com.qtistatic.stats.aec.so;
    so[29]=/vendor/lib64/camera/components/com.qtistatic.stats.af.so;
    so[30]=/vendor/lib64/camera/components/com.qtistatic.stats.awb.so;
    so[31]=/vendor/lib64/camera/components/com.qtistatic.stats.pdlib.so;
    so[32]=/vendor/lib64/camera/components/com.qti.hvx.addconstant.so;
    so[33]=/vendor/lib64/camera/components/com.qti.hvx.binning.so;
    so[34]=/vendor/lib64/com.qti.feature2.mcreprocrt.so;
    so[35]=/vendor/lib64/com.qti.feature2.mux.so;
    so[36]=/vendor/lib64/com.qti.feature2.realtimeserializer.so;
    so[37]=/vendor/lib64/com.qti.feature2.rtmcx.so;
    so[38]=/vendor/lib64/libCB.so;
    so[39]=/vendor/lib64/libOpenCL.so;
    so[40]=/vendor/lib64/libgsl.so;
    so[41]=/vendor/lib64/libscveObjectTracker_stub.so;
    so[42]=/vendor/lib64/com.qti.chiusecaseselector.so;
    so[43]=/vendor/lib64/com.qti.feature2.gs.mannar.so;
    so[44]=/vendor/lib64/com.qti.feature2.anchorsync.so;
    so[45]=/vendor/lib64/com.qti.feature2.demux.so;
    so[46]=/vendor/lib64/com.qti.feature2.derivedoffline.so;
    so[47]=/vendor/lib64/com.qti.feature2.frameselect.so;
    so[48]=/vendor/lib64/com.qti.feature2.fusion.so;
    so[49]=/vendor/lib64/com.qti.feature2.generic.so;
    so[50]=/vendor/lib64/com.qti.feature2.hdr.so;
    so[51]=/vendor/lib64/com.qti.feature2.memcpy.so;
    so[52]=/vendor/lib64/com.qti.feature2.mfsr.so;
    so[53]=/vendor/lib64/com.qti.feature2.ml.so;
    so[54]=/vendor/lib64/com.qti.feature2.qcfa.so;
    so[55]=/vendor/lib64/com.qti.feature2.rawhdr.so;
    so[56]=/vendor/lib64/com.qti.feature2.rt.so;
    so[57]=/vendor/lib64/com.qti.feature2.serializer.so;
    so[58]=/vendor/lib64/com.qti.feature2.statsregeneration.so;
    so[59]=/vendor/lib64/com.qti.feature2.stub.so;
    so[60]=/vendor/lib64/com.qti.feature2.swmf.so;
    so[61]=/vendor/lib64/camera/components/com.qti.node.gpu.so;
    so[62]=/vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[63]=/vendor/lib64/libcamxtintlessalgo.so;
    so[64]=/vendor/lib64/libtfestriping.so;
    so[65]=/vendor/lib64/libopestriping.so;
    so[66]=/vendor/etc/camera/M_FaceAttribute_RGB_age_gender_1.7.1.model.hardcode;
    so[67]=/vendor/lib64/camera/components/com.qti.node.remosaic.so;
    so[68]=/vendor/lib64/libcvface_api.so;
    so[69]=/vendor/lib64/com.qti.feature2.derivedoffline.so;

[ActuatorConfig]
    ParkLensDelayTime = 1000

[EngineerCalib]
    useCalculatedDAC = TRUE

[OemPruneEISMCTF]
    #                    cameraId    previewWidth    previewHeight    numStreams    operationMode
    PruneMode[0]   =       -1;           640;             480;            2;           0x800B     # mms video since android T

#Distinguish hand and tripod in the SuperNight or NightVideo
[SuperNightShakeState]
    Enable             = false

[CamSensorSettingMap]
    Enable             = TRUE

[EngineercameraConfig]
    isOplusEngineermode           = 1

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0001;            0x0000;           1  #Picture & SUPER HUAZHI & SUPER TXT
    Mode[1]         =     0x8001;            0x0002;            0x0000;           1  #Picture
    Mode[2]         =     0x8007;            0x0001;            0x0000;           1  #Panorama
    Mode[3]         =     0x8007;            0x0002;            0x0000;           1  #Panorama
    Mode[4]         =     0x8009;            0x0001;            0x0000;           1  #Professional
    Mode[5]         =     0x800B;            0x0001;            0x0000;           2  #VIDEO
    Mode[6]         =     0x800B;            0x0002;            0x0000;           2  #VIDEO
    Mode[7]         =     0x800C;            0x0001;            0x0000;           2  #FastVideo
    Mode[8]         =     0x800C;            0x0002;            0x0000;           1  #FastVideo
    Mode[9]         =     0x800D;            0x0001;            0x0000;           6  #SLOW MOVIE
    Mode[10]        =     0x800E;            0x0003;            0x0000;           1  #STICKER
    Mode[11]        =     0x8011;            0x0001;            0x0000;           4  #PORTRAIT
    Mode[12]        =     0x8011;            0x0002;            0x0000;           1  #PORTRAIT
    Mode[13]        =     0x8011;            0x0004;            0x0000;           1  #PORTRAIT
    Mode[14]        =     0x8019;            0x0001;            0x0000;           1  #NIGHT
    Mode[15]        =     0x8019;            0x0002;            0x0000;           1  #NIGHT
    Mode[16]        =     0x8021;            0x0001;            0x0000;           4  #VIDEO　60FPS
    Mode[17]        =     0x802C;            0x0001;            0x0000;           2  #DUAL SCENE
    Mode[18]        =     0x802C;            0x0002;            0x0000;           1  #DUAL SCENE
    Mode[19]        =     0x80A6;            0x0008;            0x0000;           0  #Macro


[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask    index
    Mode[0]        =      0x0000;            0x0001;        0x0000;       1;
    Mode[1]        =      0x0000;            0x0002;        0x0000;       1;
    Mode[2]        =      0x9001;            0x0001;        0x0000;       4; #DualcamCalib
    Mode[3]        =      0x9001;            0x0004;        0x0000;       1; #DualcamCalib
    Mode[4]        =      0x802A;            0x0001;        0x0000;       1; #SFR Mode
    Mode[5]        =      0x802A;            0x0002;        0x0000;       1; #SFR Mode
    Mode[6]        =      0x8025;            0x0001;        0x0000;       4; #AfterSaleCalib
    Mode[7]        =      0x8025;            0x0004;        0x0000;       1; #AfterSaleCalib

[CtsCamSensorSettingMap]
    #                   cts_mode         sensor_mask   index
    Mode[0]        =      0x0001;            0x0001;       1;
    Mode[1]        =      0x0001;            0x0002;       1;
[OtherCamSensorSettingMap]
    #                                           camera id  FPS    width    height  operation mode  setting index
    com.aiunit.aon[0]                           =    1;     -1;     -1;      -1;        -1;            2
    com.google.android.youtube[0]               =    0;     -1;   1280;     720;        -1;            2
    com.instagram.mainactivity.MainActivity[0]  =    0;     -1;   1280;     720;        -1;            2
    com.instagram.mainactivity.MainActivity[1]  =    1;     -1;   1280;     720;        -1;            2
    com.snap.mushroom.MainActivity[0]           =    1;     -1;     -1;     -1;         -1;            2
    com.snap.mushroom.MainActivity[1]           =    0;     -1;     -1;     -1;         -1;            2
    com.facebook.katana[0]                      =    0;     -1;   1280;     720;        -1;            2
    com.facebook.katana[1]                      =    1;     -1;   1280;     720;        -1;            2
    com.whatsapp.camera.CameraActivity[0]       =    1;     -1;   1600;     720;        -1;            2
    com.whatsapp.camera.CameraActivity[1]       =    0;     -1;   1600;     720;        -1;            2
    com.whatsapp.voipcalling.VoipActivityV2[0]  =    1;     -1;   1600;     720;        -1;            2
    com.whatsapp.voipcalling.VoipActivityV2[1]  =    0;     -1;   1600;     720;        -1;            2
    com.skype.raider[0]                         =    1;     -1;    640;     360;        -1;            2
    com.skype.raider[1]                         =    0;     -1;    640;     360;        -1;            2
    daily.tools.selfiecamera[0]                 =    1;     -1;   1280;     720;        -1;            2
    daily.tools.selfiecamera[1]                 =    0;     -1;   1280;     720;        -1;            2
    com.facebook.orca[0]                        =    1;     -1;   1920;    1080;        -1;            2
    com.facebook.orca[1]                        =    0;     -1;   1920;    1080;        -1;            2
    com.zing.zalo[0]                            =    1;     -1;    640;     360;        -1;            2
    com.zing.zalo[1]                            =    0;     -1;    640;     360;        -1;            2
    com.imo.android.imoim[0]                    =    1;     -1;   1280;     720;        -1;            2
    com.imo.android.imoim[1]                    =    0;     -1;   1280;     720;        -1;            2
    jp.naver.line.android[0]                    =    1;     -1;   1280;     720;        -1;            2
    jp.naver.line.android[1]                    =    0;     -1;   1280;     720;        -1;            2
    com.next.innovation.takatak[0]              =    1;     -1;   1920;    1080;        -1;            2
    com.next.innovation.takatak[1]              =    0;     -1;   1920;    1080;        -1;            2
    com.smile.gifmaker[0]                       =    0;      -1;    1280;     720;        -1;            2
    com.tencent.mobileqq[0]                        =           1;      -1;    1280;     720;        -1;            2
    com.tencent.mobileqq[1]                        =           0;      -1;    1280;     720;        -1;            2
    com.ss.android.ugc.aweme[0]                    =           0;      -1;    1280;     720;        -1;            2
    com.ss.android.ugc.aweme[1]                    =           0;      -1;    1920;    1080;        -1;            2
    com.eg.android.AlipayGphone[0]                 =           0;      -1;    1520;     720;        -1;            7
    com.tencent.mm.plugin.scanner.ui.BaseScanUI[0] =           0;      -1;    1920;    1080;        -1;            7
    com.tencent.mm.plugin.voip.ui.VideoActivity[0] =          -1;      -1;    1280;     720;        -1;            2
    com.tencent.wework[0]                          =           1;      -1;    1280;     720;        -1;            2     #wework
    com.tencent.wework[1]                          =           0;      -1;    1280;     720;        -1;            2     #wework
    com.tencent.wemeet.app[0]                      =           1;      -1;    1280;     720;        -1;            2
    com.tencent.wemeet.app[1]                      =           0;      -1;    1280;     720;        -1;            2
    com.tencent.mm[0]                              =           1;      -1;    1600;     720;        -1;            2

[ThirdAppCamRatioSensorSettingMap]
    #                  Ratio_mode         sensor_mask   index
    Mode[0]        =      0x0000;            0x0001;       1;
    Mode[1]        =      0x0000;            0x0002;       1;
    Mode[2]        =      0x0001;            0x0001;       2;
    Mode[3]        =      0x0001;            0x0002;       2;

[ThirdAppFpsRangeMatching]
    #                                                     cameraid     MinFps     MaxFps
    com.jiochat.jiochatapp.av.ui.AVActivity[0]       =       1;         -1;         10
    com.whatsapp.voipcalling.VoipActivityV2[0]       =       1;         -1;         15
    com.whatsapp.voipcalling.VoipActivityV2[1]       =       0;         -1;         15
    com.kuaishou.live.anchor.basic.activity.LivePushActivity[0] =       1;         -1;        15
    com.kuaishou.live.anchor.basic.activity.LivePushActivity[1] =       0;         -1;        15
    com.tencent.wework.multitalk.controller.VoipCallActivity[0] =       0;         -1;        15
    com.tencent.wework.multitalk.controller.VoipCallActivity[1] =       1;         -1;        15
    com.tencent.wemeet.sdk.meeting.inmeeting.InMeetingActivity[0]  =    0;         -1;        15
    com.tencent.wemeet.sdk.meeting.inmeeting.InMeetingActivity[1]  =    1;         -1;        15
    com.zipow.videobox.ConfActivityNormal[0]                    =       0;         -1;        15
    com.zipow.videobox.ConfActivityNormal[1]                    =       1;         -1;        15
    com.viber.voip.messages.ui.ConversationActivity[0]          =       1;         -1;        24
    com.viber.voip.messages.ui.ConversationActivity[1]          =       0;         -1;        24
    com.viber.voip.phone.PhoneFragmentActivity[0]               =       1;         -1;        24
    com.viber.voip.phone.PhoneFragmentActivity[1]               =       0;         -1;        24
    zm.voip.ui.incall.ZmInCallActivity[0]                       =       1;         -1;        24
    zm.voip.ui.incall.ZmInCallActivity[1]                       =       0;         -1;        24
    com.skype4life.MainActivity[0]                              =       1;         -1;        24
    com.skype4life.MainActivity[1]                              =       0;         -1;        24
    com.facebook.rtc.activities.InCallActivity[0]               =       1;         -1;        24
    com.facebook.rtc.activities.InCallActivity[1]               =       0;         -1;        24
    com.tencent.av.ui.AVActivity[0]                             =       0;         -1;        24
    com.tencent.av.ui.AVActivity[1]                             =       1;         -1;        24
    com.facebook.rooms.call.app.RoomActivity[0]                 =       0;         -1;        15
    com.facebook.rooms.call.app.RoomActivity[1]                 =       1;         -1;        15
    com.instagram.rtc.activity.RtcCallActivity[0]               =       0;         -1;        15
    com.instagram.rtc.activity.RtcCallActivity[1]               =       1;         -1;        15

[ThirdAppPerfSceneMatching]
#                                   camera id  FPS    width    height  operation mode   value
com.whatsapp[0]                   =    -1;     -1;    -1;      -1;         -1;           50
daily.tools.selfiecamera[0]       =     0;     -1;    -1;      -1;         -1;           50

#Whether or not to enable Remosaic for SFR
[EngCameraSFR]
    #                  sensor_mask        state
    Mode[0]        =      0x0001;           0 #Disable
    Mode[1]        =      0x0002;           1 #Disable

#Only Remosaic & InsensorZoom write to SPC
[OemCamWriteSPCMap]
    #                  sensor_mask        resolutionIndexMask
    Mode[0]        =      0x0001;           3
    Mode[1]        =      0x0002;           1

[OemFDSelect]
    Is3rdApkUsePlatformFD = true
    IsBindBigCore         = true
    BigCoreIdxList        = 6; 7
    SetMaxFPS30           = true
    AllowSkipProcess      = TRUE
    OptimizateFD          = TRUE
    SkipFDFirstFrame      = TRUE
    WaitForFDAttrInitial  = FALSE

[OemMctfConfig]
    LuxThreshold = 300.0

[BokehConfigureInformation]
    RearBokehImgSizeList = 4000; 3000; 1600; 1200

[OemCamxSettings]
    advanceFeatureMask     = 0x48
    multiCameraHWSyncMask  = 0
    #Provider node trace switch
    TraceMask               = 0x10483
    preFlashMaxFrameWaitLimitAF = 50

[OemSupportedCustomImageSizes]
    #                width height
    ImageSizes[0]  =  4608; 3456
    ImageSizes[1]  =  4608; 2592
    ImageSizes[2]  =  4608; 2080
    ImageSizes[3]  =  3456; 3456
    ImageSizes[4]  =  960; 1080 #dual scene mode
    ImageSizes[5]  =  640; 368 #dual scene mode
    ImageSizes[6]  =  464; 464 #dual scene mode

[OemSupportedFactoryJpegSizes]
    #                width  height
    ImageSizes[0]  =  4608; 3456
    ImageSizes[1]  =  4160; 3120
    ImageSizes[2]  =  4000; 3000
    ImageSizes[3]  =  4000; 2256
    ImageSizes[4]  =  3456; 3456
    ImageSizes[5]  =  3264; 2448
    ImageSizes[6]  =  3264; 1840
    ImageSizes[7]  =  3000; 3000
    ImageSizes[8]  =  2448; 2448
    ImageSizes[9]  =  2304; 1728
    ImageSizes[10] =  1600; 1200

[OemSupportedCustomRawSizes]
    #                width  height
    ImageSizes[0]  =  4624; 3468
    ImageSizes[1]  =  4608; 3456
    ImageSizes[2]  =  4160; 3120
    ImageSizes[3]  =  4080; 3072
    ImageSizes[4]  =  4000; 3000
    ImageSizes[5]  =  3280; 2464
    ImageSizes[6]  =  3264; 2448
    ImageSizes[7]  =  2304; 1728
    ImageSizes[8]  =  1600; 1200

[SupportedImageSizes]
#                   width   height
    ImageSizes[0] =  12000; 9000
    ImageSizes[1] =  4000; 3000
    ImageSizes[2] =  4000; 2256
    ImageSizes[3] =  4000; 1800
    ImageSizes[4] =  3840; 2160
    ImageSizes[5] =  3264; 1836
    ImageSizes[6] =  3248; 1456
    ImageSizes[7] =  3200; 2400
    ImageSizes[8] =  3000; 3000
    ImageSizes[9] =  2592; 1944
    ImageSizes[10] =  2448; 2448
    ImageSizes[11] =  2400; 1080
    ImageSizes[12] =  2304; 1728
    ImageSizes[13] =  1920; 1440
    ImageSizes[14] =  1920; 1080
    ImageSizes[15] =  1600; 1200
    ImageSizes[16] =  1600; 900
    ImageSizes[17] =  1600; 720
    ImageSizes[18] =  1520; 720
    ImageSizes[19] =  1440; 1080
    ImageSizes[20] =  1280; 960
    ImageSizes[21] =  1280; 768
    ImageSizes[22] =  1280; 720
    ImageSizes[23] =  1206; 540
    ImageSizes[24] =  1200; 1200
    ImageSizes[25] =  1080; 1080
    ImageSizes[26] =  1024; 768
    ImageSizes[27] =  960;  960
    ImageSizes[28] =  960;  720
    ImageSizes[29] =  800;  600
    ImageSizes[30] =  800;  480
    ImageSizes[31] =  720;  720
    ImageSizes[32] =  720;  480
    ImageSizes[33] =  640;  480
    ImageSizes[34] =  640;  400
    ImageSizes[35] =  640;  360
    ImageSizes[36] =  352;  288
    ImageSizes[37] =  320;  240
    ImageSizes[38] =  176;  144

[SupportedImageSizesGSI]
#                   width   height
    ImageSizes[0] =  4000; 3000
    ImageSizes[1] =  4000; 2256
    ImageSizes[2] =  4000; 1800
    ImageSizes[3] =  3840; 2160
    ImageSizes[4] =  3264; 2448
    ImageSizes[5] =  3200; 2400
    ImageSizes[6] =  3000; 3000
    ImageSizes[7] =  2592; 1944
    ImageSizes[8] =  2448; 2448
    ImageSizes[9] =  2304; 1728
    ImageSizes[10] =  1920; 1080
    ImageSizes[11] =  1600; 900
    ImageSizes[12] =  1600; 720
    ImageSizes[13] =  1520; 720
    ImageSizes[14] =  1440; 1080
    ImageSizes[15] =  1280; 960
    ImageSizes[16] =  1280; 768
    ImageSizes[17] =  1280; 720
    ImageSizes[18] =  1200; 1200
    ImageSizes[19] =  1080; 1080
    ImageSizes[20] =  1024; 768
    ImageSizes[21] =  960;  960
    ImageSizes[22] =  960;  720
    ImageSizes[23] =  800;  600
    ImageSizes[24] =  800;  480
    ImageSizes[25] =  720;  720
    ImageSizes[26] =  720;  480
    ImageSizes[27] =  640;  480
    ImageSizes[28] =  640;  400
    ImageSizes[29] =  640;  360
    ImageSizes[30] =  352;  288
    ImageSizes[31] =  320;  240
    ImageSizes[32] =  176;  144

# max avaliable stream size published by HAL, for those max sensor output size is less than wanted stream size
[MaxStreamSizeBySensorName]
    # sensor name   width   height
    sy_imx471[0] = 4624;    3468
    ov16a1q[0]   = 4624;    3468

[OemPerformanceOptimization]
    IsAsyncAllocMeta = TRUE
    IsSyncPrepareFinalizePipeline = TRUE
    isUseLightUxThread            = TRUE
    isApplyUxForDRQ               = TRUE

[SensorDPCSupport]
    DeferInitEnabled    = TRUE

[OemCTSConfig]
    FocusDistance = 4.76
    MinExposureTimeLimit = 100000
    whichCamNeedSetLensFocal = 1
    lensFocalLength = 3.48

[SpecialAppSensorSelect]
    #PackName                                #PackActivity_name
    com.tencent.mobileqq[0]        =     com.tencent.av.ui.AVActivity

[MIDAS]
    isSupportMidas = TRUE
[OemSkipFlag]
    skipZSL = TRUE
[OplusDataMaskSaveDAC]
    IsEnable  =  TRUE

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =        10 ;          10;
    OemFpsRange[1] =        10 ;          30;
    OemFpsRange[2] =        15 ;          15;
    OemFpsRange[3] =        15 ;          24;
    OemFpsRange[4] =        24 ;          24;
    OemFpsRange[5] =        30 ;          30;

[OemStickerModeConfig]
    modifyStickerUsecase = TRUE

[ProfessionalAutoMode]
    FixedRawSensitivityBoost = TRUE

[ProfessionalMaxExposureTime]
    #            camera_id     value
    MaxExposureTime[0] =        30;


[Feature2graphSettings]
    isFlushDestroySync = TRUE

[EnableSamsungSWremosaicSupport]
    EnableSamsungSWremosaic = false
    SamsungSensorName       = s5kjn1
    SamsungEepromName       = s5kjn1sq03_eeprom
    ReservedSize0           = 594
    ReservedSize1           = 1484
    RemosaicCalSize         = 9490
    EnableFrontSamsungSWRemosaic = TRUE
    SamsungfrontSensorName  = s5k3p9
    SamsungFrontEepromName  = gt24p64ba8_s5k3p9
    FrontRemosaicCalSize    = 2048
    CrosstalkDataOffset  = 0x0E00
    CrosstalkValidOffset = 0x1600
    CrosstalkValidFlag   = 0x01
    DeferFrontReadRemosaicData = TRUE

    [SWremosaicSupportType]
#RemosaicCamera[cameraid]     0 samsung     1 sony_imx471   2 ov_16a1q
    RemosaicCamera[1]               = 0

[SkipRemosaicSensorRaw]
    # sensor   need skip
    s5k3p9  =   TRUE

[OplusTestPatternBlack]
    isSupport = TRUE

[OplusTestPatternBlackMulanAFront]
    isSupportFornt = TRUE

[FrontCameraBlackPicSize]
    # SuperNight photo Portrait                streamWidth   cstreamHeight  bufferwidth  bufferHeight
    pictureSize[0]  =                            3456;           3456 ;       2048  ;    2048                         # 1:1
    pictureSize[1]  =                            4608;           3456 ;       2560  ;    2048                         # 4:3
    pictureSize[2]  =                            4608;           2592 ;       2560  ;    1536                         # 16:9
    pictureSize[3]  =                            4608;           2064 ;       2560  ;    1536                         # full

#camera ID sequence for AT test
[AT_CAMERA_SEQUENCE]
    CameraSequence = 032145

[OrmsConfig]
    HALCloseActionTimeout = 2000
    HALCaptureActionTimeout = 800
    HALOpenActionTimeout = 3000

[InSensorZoomSetting]
    isCropRegionDisabled = TRUE

[StabilityDebug]
     isStabilityDebug = TRUE

[AISSetting]
    isUseAISTagMULAN  = TRUE

[OemdynamicPropertiesEnabled]
    IsEnabled   =  TRUE

[ItsUvSwapSelect]
    ItsReprocessSkip = TRUE

[EquivalentFocusLength]
    cameraId      =   0;    1;   2;
    focusLength   =   24;   24;  22;

[FocusDistanceForCts]
    isSetToFocusDistance  = TRUE
    minFocusDistance  = 0.8
    maxFocusDistance  = 5

[OemCameraResourceCost]
    #operation mode          sensor_mask        resource_cost
    Mode[0]         =           0x0001;            100;
    Mode[1]         =           0x0010;            100;

[NotModifyWarmUpReadSensitivityAPPList]
    #PackName                #PackName_name
    PackName[0]        =     com.gorgeous.lite
    PackName[1]        =     com.tencent.zebra
    PackName[2]        =     com.alibaba.android.rimet
    PackName[3]        =     com.tencent.wework
    PackName[4]        =     com.eg.android.AlipayGphone
